.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  background: #ffffff;
  border-radius: 30px;


  font-weight: 800;
  font-size: 14px;
  line-height: 60px;

  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;

  cursor: pointer;
  outline: none;

  &:hover {
    background: #000000;
    color: #fff;
    transition: .5s;
  }

  &:focus {
    outline: none;
    background: #2f2f2f;
    color: #fff;
  }
}


