.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;

  /* Tablet */
  @media (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 20px;  
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding-top: 52px;
    padding-bottom: 6px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 70px;

  /* Tablet */
  @media (max-width: 1199px) {
    padding-left: 75px;
    padding-right: 0;
  }

  /* Mobile */
  @media (max-width: 899px) {
    flex-direction: row-reverse;
    padding-left: 0;
  } 

  /* Mobile XS */
  @media (max-width: 599px) {
    flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  padding-top: 27px;
  width: 570px;

  /* Tablet */
  @media (max-width: 1199px) {
    width: 495px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 270px;
    padding-top: 0;
    margin-bottom: 109px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 290px;
    margin-bottom: 14px;
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 26px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    display: inline;
    width: 100%;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: $paragraphColor;

  /* Tablet */
  @media (max-width: 1199px) {
    width: unset;
    max-width: 420px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    line-height: 1.7;
  }
  
}

.section-tasks__text p {
  margin-bottom: 15px;
}

.section-tasks__img {
  width: 400px;

  /* Tablet */
  @media (max-width: 1199px) {
    width: 265px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 270px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    img {
      width: 270px;
      margin-left: auto;
      margin-right: auto;
    }

  }

}